body {
	margin: 0;
	font-family: "Varela Round";
	background-color: rgba(209,227,249,0.5); /*rgb(255,233,160);*/
	color: rgba(255,114,0);
	color: black;
	font-size: 18px;
	overflow-x: hidden;
}


#main-body {
	width: 700px;
	margin: auto;
}

h1 {
	height: 60px;
	font-size: 36px;
	margin-top: 30px; 
	text-align: center;
}
h2{
	font-size: 24px;
}

#content {
	box-sizing: border-box;
	width: 69%;
	display: inline-block;
	padding: 10px;
}

#photo {
	margin: auto;
	object-fit: contain;
	width: 30%;
	border-radius: 5px;
}

a {
	text-decoration: none;
	color: rgb(255,114,0);
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: rgb(255,159,0);
}

@media only screen and (max-width: 700px) {
}
